name: CI
on:
  push:
    branches:
    - master
    tags:
    - "v*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v7
    - uses: VirtusLab/scala-cli-setup@main
      with:
        power: true
    - uses: extractions/setup-just@v1
    - name: Install dependencies
      run: cs install scalafmt
    - name: Check format
      run: just check-format
    - name: Test
      run: just test

  publish:
    needs: test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v7
    - uses: VirtusLab/scala-cli-setup@main
      with:
        power: true
    - uses: extractions/setup-just@v1
    - name: Publish
      run: just publish
      env:
        PUBLISH_USER: ${{ secrets.PUBLISH_USER }}
        PUBLISH_PASSWORD: ${{ secrets.PUBLISH_PASSWORD }}
        PUBLISH_SECRET_KEY: ${{ secrets.PUBLISH_SECRET_KEY }}
        PUBLISH_SECRET_KEY_PASSWORD: ${{ secrets.PUBLISH_SECRET_KEY_PASSWORD }}
